<div class="content-container">
    <div class="card">
        <h5 class="card-header">Products</h5>
        <div class="card-body">
        <div class="Action-btn">
            <div>
                <button class="new_size" (click)="addProductSize()">Add Stock</button>
                <button class="add_product" (click)="addProduct()">Add Product Name</button>
            </div>
        </div>
        <div class="operations">
            <div>
                <!-- <button class="editBtn excel">excel</button>
                <button class="editBtn">print</button> -->
            </div>
            <div>
                <!-- <input id="filter" placeholder="search" type="text"/> -->
            </div>
        </div>
    <div class="mt-2">  
        <div class="recent-grid" >
            <div class="projects">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead style="background: #1e3b27; color:white; font-size:15px;padding:10px;">
                                    <tr style="padding:30px">
                                        <td>Date</td>
                                        <td>Product</td>    
                                        <td>pack size</td>
                                        <td>Damages</td>
                                        <td>Selling price</td>  
                                        <td>Total qty Produced</td> 
                                        <td>Status</td>
                                        <td>
                                            Action
                                        </td>    

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of allProductDetails | paginate : {itemsPerPage:8, currentPage:p} index as i">
                                        <td>{{product.date | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{product.productname}}</td>
                                        <td>{{product.packsize}}</td>
                                        <td>{{product.damages}}</td>
                                        <td>{{product.sellingprice}}</td>
                                        <td>{{product.quantity}}
                                        <td>{{product.status}}</td>
                                        <td class="double-btn">
                                            <div>
                                                <button class="editBtn" (click)="editProduct(product)">edit</button>
                                            </div>
                                            <div *ngIf="showButton">
                                                <button (click)="verify(product)" class="editBtn verify">verify</button>
                                            </div>
                                            <div *ngIf="showDelete">
                                                <button  class="btn-2" (click)="deletePackSize(product.id)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </table>
                </div>
            </div>
        </div> 
    </div>
        </div>
</div>
</div>
