.content-container{
    width:95%;
    margin: auto;
    margin-top:3%;
    
}

.card{
    box-shadow: 0px 2px 100px rgba(0, 0, 0, 0.06);
    border:none;
}

.pay-btn{
    text-align: right;
    color:#fff;
}

.save-btn{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.save-btn a{
    // margin:0% 2%;
    width: 90%;
}

.btn {
    background-color: #01A756;
    border:none;
    color:#fff
}

label{
    font-weight: 500;
}

.input-group{
    padding:0px 20px 20px 20px
}

#payment h2{
    padding:2%;
}
