<div class="content-container">
    <div class="row">
        <div id="container1" class="col-md-7">
            <div class="card">
                <div class="card-body">
                  <label>Product Name:</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <div class="pay-btn">
                      <a href="" class="btn btn">Add</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <form [formGroup]="paymentForm" (ngSubmit)="savePayment()">
            <div id="payment" class="card">
                <h2>Save Payment</h2>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Customer</label>
                    <select class="form-select" id="inputGroupSelect01" formControlName="customername">
                      <option selected>Select customer name</option>
                      <option *ngFor="let customer of allCustomers"  [value]="customer.firstname">{{customer.firstname}}</option>
                    </select>
                </div>

                <div id="payment" class="card">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Payment Type</label>
                        <select class="form-select" id="inputGroupSelect01" formControlName="paymenttype">
                        <option value="pos">POS</option>
                        <option value="cash">CASH</option>
                        <option value="transfer">TRANSFER</option>
                        </select>
                    </div>

                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Cash Amount</span>
                            <input type="number" formControlName="amount" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="save-btn">
                        <button class="btn btn">Save Payment</button>
                    </div>   
                </div>
                </div>
            </form>
    </div>
</div>