table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .cart_section{
    padding:40px 0px;
  }

  .header{
      display:flex;
      justify-content:space-between;
  }

  .back{
    cursor: pointer;
    font-size:20px;
  }

  #content{
    width:595px;
    // height: 842px;
  }

  .details{
    padding-bottom:90px
  }
  #invoice{
    margin-top:10%
  }

  .totalprice{
    padding:10px;
    font-size:20px;
  }

  .action-btn{
    display:flex;
    justify-content:space-between;
  }