<section class="cart_section">
    <div class="container">
        <div class="header">
            <div class="back" (click)="back()">Back</div>
            <div><h2>CartItems</h2></div>
        </div>
        <div>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove Item</th>
                </tr>
                <tr *ngFor="let cart of availableCartItems">
                    <td>{{cart.productname}}</td>
                    <td>{{cart.productprice}}</td>
                    <td style="text-align: center !important;">
                        <div class="col-md-3" style="padding:0px !important">
                            <div style="display: flex; width:100px; padding: 10px 0px; font-size:16px; justify-content: space-evenly;  border: 1px solid black"> 
                                <div style="cursor: pointer; font-size:35px" (click)="decreaseQty(cart)">-</div>
                                  <div>{{cart.quantity}}</div>
                                <div style="cursor: pointer;  font-size:20px" (click)="increaseQty(cart)">+</div>
                            </div>
                        </div>
                    </td>   
                    <td style="color:red;font-size: 120%; cursor: pointer;" (click)="removeItem(cart)"><i class="far fa-trash-alt"></i></td>
                </tr>
            </table>
    
            <div style="display: flex; margin-top: 1%; float: right;">
                <div class="action-btn">
                    <div><button type="button" style="font-weight: 500;" class="btn btn-success" (click)="addOrder()">Order</button></div>
                </div>

            </div>
        </div>
    </div>


    <div class="container" id="invoice">
        <h1>Generate Invoice</h1>
        <div id="content" #content>
            <div class="details">
                <h2>Abeebi Foods Invoice</h2>
                <p>Name: {{name}} </p>
            </div>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Total Price</th>
                    <th>Quantity</th>
                    <!-- <th>Balance to pay</th> -->
                </tr>
                <tr *ngFor="let cart of availableCartItems">
                    <td>{{cart.productname}}</td>
                    <td>{{cart.productprice}}</td>
                    <td style="text-align: center !important;">
                        <div class="col-md-3" style="padding:0px !important">
                            <div> 
                                  <div>{{cart.quantity}}</div>
                            </div>
                        </div>
                    </td>   
                    <!-- <td>{{cart.tobalance}}</td> -->
                </tr>
            </table>
            <div class="totalprice">Total payable amount: # {{totalBill}}</div>
            
        </div>
        <div>
            <div class="action-btn">
                <div>
                    <button type="button" style="font-weight: 500;" class="btn btn-success" (click)="download()">Download Invoice</button></div>
                </div>
        </div>
    </div>
</section>