<div class="content-container">
    <div class="card">
        <h5 class="card-header">Customers</h5>
        <div class="card-body">
        <div class="operations">
            <div>
                <button class="editBtn excel" (click)="addCustomers()">Add New Customer</button>
            </div>
            <div>
                <!-- <input id="filter" placeholder="search" type="text"/> -->
            </div>
        </div>
    <div class="mt-2">  
        <div class="recent-grid" >
            <div class="projects">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead style="background: #1e3b27; color:white; font-size:15px;padding:10px;">
                                    <tr style="padding:30px">
                                        <td>Firstname</td>  
                                        <td>Lastname</td>      
                                        <td>Company Name</td>
                                        <td>Phone</td>
                                        <td>Email</td>
                                        <td>Biz Address</td>  
                                        <td>Action</td>    

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of allCustomers | paginate : {itemsPerPage:8, currentPage:p} index as i">
                                        <td>{{customer.firstname}}</td>
                                        <td>{{customer.lastname}}</td>
                                        <td>{{customer.companyname}}</td>
                                        <td>{{customer.phone}}</td>
                                        <td>{{customer.email}}</td>
                                        <td>{{customer.address}}</td>
                                        <td class="double-btn">
                                            <div>
                                                <button class="editBtn" (click)="editCustomer(customer)">edit</button>
                                            </div>
                                            <div *ngIf="showDeleteBtn">
                                                <button  class="btn-2" (click)="deleteCustomer(customer.id)">Delete</button>
                                            </div>
                                            <div>
                                                <button style="margin-left:10px" (click)="showTransactions(customer)" class="editBtn">Details</button>
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </table>
                </div>
            </div>
        </div> 
    </div>
        </div>
</div>
</div>
